@model IEnumerable<MovieQueue.Models.Movies>

@{
    ViewBag.Title = "My Movies";
}

<h2>My Movies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
   
        <a href='@Url.Action("Details/"+item.id,"Movies")'>
        <img class="hover-glow" style="display:inline-block;border:solid #CCCCCC 0px;min-width:200px;width:19.5%;padding-right:10px;padding-bottom:10px;" src=' @("https://image.tmdb.org/t/p/w300_and_h450_bestv2/" + item.poster_path) ' />
        </a>

}

<style>
    .hover-glow:hover {
      filter:brightness(118%);
      opacity:.85;
    }
</style>


