@model MovieQueue.Models.LookupResults

@{
    ViewBag.Title = "Index";
}

<h2>Showing results for</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form action="Lookup" class="form-group" method="get">
    <label for="usr">Search</label>
    <input type="text" name="lookupName" class="form-control">
    <button class="btn btn-default" type="submit">Search</button>
</form>

<br>

@foreach (var results in Model.results)
{
    <a href='@Url.Action("LookupDetails/"+results.id,"Movies")'>
        <img style="display:inline-block;border:solid #CCCCCC 1px;max-width:200px;" src=' @("https://image.tmdb.org/t/p/w300_and_h450_bestv2/" + results.poster_path) ' />
    </a>
}


