@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<form action="Lookup" class="form-group" method="get">
    <label for="usr">Search</label>
    <input type="text" name="lookupName" class="form-control">
    <button style="margin-top:10px;" class="btn btn-default" type="submit">Search</button>
</form>